@media (max-width:992px){
	.title h3 {font-size: 25px; }
.menu_togle_btn {Display:block} 	
.banner .ban_content .tit_form {display: block;}
.banner .ban_content .ban_title {width: 100%;margin-bottom: 30px;}
.banner_form {width: 100%;}
.banner .ban_content .ban_title h3 {font-size: 38px; line-height: 40px;}
.main_menu .col-md-7, .main_menu .col-md-2 {display:none}
.step_home .all_step {flex-wrap: wrap;}
.step_home .rect {width: 100%;}
.step_home .padd p {width: 100%;}
.step_home .padd span {font-size: 40px;width: 40px;}
.step_home .rect:after {display:none}
.tab_visa .tab-content .tab-pane {padding: 20px;}
.why_us .list {display: block;}
.why_us .list .row {margin: 0;}
.why_us .list .row:nth-child(2) {margin-left: 0;margin-right: 0;}
.why_us .list .row:nth-child(3) {margin-left: 0; margin-right: 0;}
.think_you .d-flex {display: block !important;    padding: 30px;}
.think_you .big_s {width: 100%;}
.children_search .form-group {width: 90%;}
.children_search .Bg_green_light {padding: 20px;}
.children_search .Bg_green_light ul li {width: 50%;}
.test_monial_slider .owl-prev {left: 0;}
.test_monial_slider .owl-next {right: 0;}
.main_menu .head_menus nav { display: none;}

.All_heading h3 {font-size: 32px;}
.step_format .content {flex-wrap: wrap;    gap: 30px;}
.step_format .content .cir_steps {order: 1 !important;}
.step_format .content .Step_img {order: 2 !important;}
.step_format .content .step_cont {order: 3 !important;}
.step_format .cir_steps,
.step_format .step_cont,
.step_format .Step_img {width: 100%;}
.step_format .Step_img img {height: auto;}
.visaBox {width: 100%;margin: 0;margin-bottom: 20px;/* padding: 15px; */}
.contact-details__info li .text {width: calc(100% - 80px);}
.head_whatsapp {display: none;}
.aboutus .prt_single_image-wrapper {margin-bottom: 25px;}
.abfact-area .row>*{    width: 50%;}
.abintro-top .intrO .section-title {font-size: 29px;}
.abintro-top .abinfro-btn .theme-btn:before,
.abintro-top .abinfro-btn .theme-btn:after {Display:none}
.abintro-top .abinfro-btn .theme-btn {padding: 7px;}
.abintro-top .abinfro-btn .btn-download i {margin-right: 7px;}
.ApplY_data .nav li {width: 100%;}
#pinBoot .divid_sect .item {width: 100%;}
#pinBoot .divid_sect {margin:0}

}


@media (max-width: 858px){
	
}

/*-----------------tab port------------------*/

@media (min-width: 992px) {
	.banner{
        padding: 10px;
    }
    .step_home .title h3 {
        margin-bottom: 15px;
    }
	
}




@media (min-width: 1920px) and (max-width: 2560px)  {

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1740px;}
	
.main_menu .head_menus nav ul li,
.banner_form form .form-group label,
.step_home .padd p,
.why_us .list .green_box .content p,
.think_you .content ul li,
#pinBoot p,
.faqs_list ul li p,
.logo_content p,
.footer_des .ftr_add ul.ftr_links li a,
.footer_des .ftr_add .addres p {font-size: 20px;line-height: 35px;}

.tab_visa .brand-pills li a {font-size:24px}
.tab_visa .big_box .over_h .small_name {font-size: 20px;line-height: 24px; }



}